<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.xiaoxia.xmoretimetext"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="X MoreTimeText"
        android:theme="@android:style/Theme.Holo" >
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription" android:value="在状态栏时间前添加上午、下午、晚上等信息" />
        <meta-data android:name="xposedminversion" android:value="30"/>
    </application>
</manifest>
